.lizard_styles {
  background-image: linear-gradient(#dadada, #f3f3f3);
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  border: solid 10px #834ee3;
  z-index: 200;
  filter: drop-shadow(0px 5px #5f37a8);
  box-shadow: inset 0 4px 0 0 #babfd4;
}
.lizard_pick {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 90px;
  top: 430px;
  width: 10%;
  height: 40px;
}
.player_game__over {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 25px;
  top: 300px;
  width: 15%;
  height: 48px;
  pointer-events: none;
}
.house_game__loading {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 40px;
  top: 300px;
  width: 15%;
  height: 48px;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.1);
}
.house_game__over {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 40px;
  top: 300px;
  width: 15%;
  height: 48px;
  pointer-events: none;
}
.paper_styles {
  background-image: linear-gradient(#dadada, #f3f3f3);
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  border: solid 10px #4664f4;
  z-index: 200;
  filter: drop-shadow(0px 5px #2a45c2);
  box-shadow: inset 0 4px 0 0 #babfd4;
}
.paper_pick {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 30px;
  top: 300px;
  width: 10%;
  height: 40px;
}
.rock_styles {
  background-image: linear-gradient(#dadada, #f3f3f3);
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  border: solid 10px #db2e4d;
  z-index: 200;
  filter: drop-shadow(0px 5px #9d1634);
  box-shadow: inset 0 4px 0 0 #babfd4;
}
.rock_pick {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 90px;
  top: 430px;
  width: 10%;
  height: 40px;
}
.scissors_styles {
  background-image: linear-gradient(#dadada, #f3f3f3);
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  border: solid 10px #eb9f0e;
  z-index: 200;
  filter: drop-shadow(0px 5px #c76c1b);
  box-shadow: inset 0 4px 0 0 #babfd4;
}
.scissors_pick {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 150px;
  top: 200px;
  width: 10%;
  height: 40px;
}
.spock_styles {
  background-image: linear-gradient(#dadada, #f3f3f3);
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  border: solid 10px #3fb7cd;
  z-index: 200;
  filter: drop-shadow(0px 5px #2d8dab);
  box-shadow: inset 0 4px 0 0 #babfd4;
}

.spock_pick {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 30px;
  top: 300px;
  width: 10%;
  height: 40px;
}

.chosen_player {
}

.chosen_home {
}
