.hex {
  background-color: transparent;
  position: absolute;
  width: 150px;
  height: 240px;
  left: 112.5px;
  top: 260px;
  mix-blend-mode: normal;
  opacity: 0.2;

  border-bottom: 15px solid #000000;

  box-sizing: border-box;
}
.hex .corner-1,
.hex .corner-2,
.hex .corner-3,
.hex .corner-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: -2;
  overflow: hidden;
  backface-visibility: hidden;
}

.hex .corner-1 {
  z-index: -1;
  transform: rotate(70deg);
  bottom: 120px;

  border-bottom: 15px solid #000000;
  box-sizing: border-box;
}

.hex .corner-2 {
  transform: rotate(-70deg);

  border-bottom: 15px solid #000000;
  box-sizing: border-box;
}
.hex .corner-3 {
  transform: rotate(-140deg);

  border-bottom: 15px solid #000000;
  box-sizing: border-box;
}
.hex .corner-4 {
  transform: rotate(140deg);

  border-bottom: 15px solid #000000;
  box-sizing: border-box;
}

.hex .corner-1:before,
.hex .corner-2:before,
.hex .corner-3:before,
.hex .corner-4:before {
  width: 173px;
  height: 173px;
  content: '';
  position: absolute;
  background: inherit;
  top: 0;
  left: 0;
  z-index: 1;
  background: inherit;
  background-repeat: no-repeat;
  backface-visibility: hidden;
}

.hex .corner-1:before {
  transform: rotate(-60deg) translate(-87px, 0px);
  transform-origin: 0 0;
}

.hex .corner-2:before {
  transform: rotate(60deg) translate(-48px, -11px);
  bottom: 0;
}
.hex .corner-3:before {
  transform: rotate(-120deg) translate(-48px, -11px);
  bottom: 0;
}
.hex .corner-4:before {
  transform: rotate(90deg) translate(-48px, -11px);
  bottom: 0;
}
