.card {
  width: 80px;
  height: 72px;
  left: 251px;
  top: 44px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-left: auto;
  align-self: center;
  margin-right: 10px;
}
.number {
  align-self: flex-end;
  font-size: 35px;
  color: hsl(229, 25%, 31%);
}
.score {
  color: hsl(229, 64%, 46%);
  font-size: 10px;
  width: 35px;
  height: 52px;
  left: 274px;
  top: 54px;
}
@media (min-width: 768px) {
  .card {
    display: flex;
    align-self: center;
  }
}
