@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,700;1,600&display=swap');
html {
  height: 100%;
}
body {
  font-family: 'Barlow Semi Condensed', sans-serif;

  position: relative;
  width: 375px;
  height: 750px;
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}
